@hoprnet:registry=https://europe-west3-npm.pkg.dev/hoprassociation/npm/
//europe-west3-npm.pkg.dev/hoprassociation/npm/:always-auth=true

registry=https://registry.npmjs.org/
//registry.npmjs.org/:always-auth=false
