name: Publish Package to npmjs
on:
    workflow_dispatch:
        inputs:
            tag:
                type: choice
                options:
                    - latest
                    - beta
                required: true
                default: beta

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Use Node.js 20
              uses: actions/setup-node@v3
              with:
                  node-version: 20
                  cache: 'yarn'
                  cache-dependency-path: ./yarn.lock
                  registry-url: 'https://registry.npmjs.org'

            - name: Install dependencies
              run: yarn --frozen-lockfile

            - name: Building
              run: yarn build

            - name: Publish
              run: yarn publish --tag ${{ github.event.inputs.tag }}
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
